doctype html
html
  head
    title= title
  body
    header
      h1 Meine Website
      nav
        a(href='/') Home
        |  
        a(href='/about') Über uns
      hr

    block content

    hr
    footer
      p © 2024 Meine Website
