extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        h1.text-center.mb-4 Login-Seite

        if success && success.length
          p.alert.alert-success.text-center= success[0]

        form(action="/login" method="POST")
          .mb-3
            label.form-label(for="username") Benutzername:
            input.form-control(type="text" id="username" name="username" required)
          
          .mb-3
            label.form-label(for="password") Passwort:
            input.form-control(type="password" id="password" name="password" required)
          
          button.btn.btn-primary.w-100(type="submit") Einloggen
