extends layout

block content
  h2 Registrierung

  if error
    p(style="color: red") #{error}

  form(action="/register" method="POST")
    label(for="username") Benutzername:
    input(type="text" id="username" name="username" required value=(typeof username !== 'undefined' ? username : ''))
    br
    br
    label(for="name") Name:
    input(type="text" id="name" name="name" required value=(typeof name !== 'undefined' ? name : ''))
    br
    br
    label(for="email") Email:
    input(type="email" id="email" name="email" required value=(typeof email !== 'undefined' ? email : ''))
    br
    br
    label(for="password") Passwort:
    input(type="password" id="password" name="password" required)
    br
    br
    button(type="submit") Registrieren
